:root {
  /* Texto */
  --text-primary: #ffffff;
  --text-inverse: #000000;

  /* Cards y superficies */
  --card-transparent: #2564eb00;
  --card-glass: rgba(255, 255, 255, 0.08);
  --card-glass-small: rgba(255, 255, 255, 0.10);
  --card-border: rgba(255, 255, 255, 0.18);

  /* Botones */
  --button-text: #ffffff;
  --button-hover: #ffffff58;

  /* Inputs */
  --input-bg: #ffffff;

  /* Elementos específicos */
  --found-word-bg: #000000;

  /* Hover */
  --hover-bg-strong: #ffffff;

  /* Navbar */
  --navbar-bg: #201d1d;
  --navbar-bg-transparent: rgba(32, 29, 29, 0.4);
  --navbar-border: rgba(255,255,255,0.08);
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
}

body {
  font-family: 'Segoe UI';
  color: var(--text-color);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding-top: 80px;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app.fundoAzul {
  background: radial-gradient(circle at center, #2563eb 0%, #1e293b 40%, #020617 100%);
  --button-bg: #0162fe;
  --button-primary: #2563eb;
  --button-primary-hover: #1e40af;
  --text-word: #0162fe;
  --text-color-navbar: #3969cf;
}

.app.fundoVermelho {
  background: radial-gradient(circle at center, #250000 10%, #7a0000 100%);
  --button-bg: #fe0101;
  --button-primary: #eb2525;
  --button-primary-hover: #af1e1e;
  --text-word: #fe2f01;
  --text-color-navbar: #cf3939;
}

.app.fundoPurpura {
  background: radial-gradient(circle at center, #2c002c 10%, #800080 100%);
  --button-bg: #a501fe;
  --button-primary: #c025eb;
  --button-primary-hover: #8d1eaf;
  --text-word: #d401fe;
  --text-color-navbar: #c339cf;
}

.app.fundoVerde {
  background: radial-gradient(circle at center, #002400 10%, #006400 100%);
  --button-bg: #4a7900;
  --button-primary: #4a7110;
  --button-primary-hover: #427114;
  --text-word: #48ad41;
  --text-color-navbar: #39cf84;
}