:root {
  /* Fondo y texto base */
  --bg-gradient: radial-gradient(circle at center, #2563eb 0%, #1e293b 40%, #020617 100%);
  --text-color: #e5e7eb;

  /* Texto */
  --text-primary: #ffffff;
  --text-inverse: #000000;

  /* Colores principales */
  --accent: #0162fe;

  /* Cards y superficies */
  --card-bg: #1e293b;
  --card-transparent: #2564eb14;
  --card-glass: rgba(255, 255, 255, 0.08);

  /* Botones */
  --button-bg: #0162fe;
  --button-text: #ffffff;
  --button-hover: #ffffff58;
  --button-primary: #2563eb;
  --button-primary-hover: #1e40af;

  /* Inputs */
  --input-bg: #ffffff;

  /* Elementos específicos */
  --found-word-bg: #000000;

  /* Hover */
  --hover-bg-strong: #ffffff;

  /* Navbar */
  --navbar-bg: #201d1d;
  --navbar-bg-transparent: rgba(32, 29, 29, 0.4);
  --navbar-border: rgba(255,255,255,0.08);
}


html,
body,
#root {
  min-height: 100%;
  margin: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  color: var(--text-color);
}

/**
html {
  height: 100%;
  margin: 0;
  margin-top: 80px;
}

body {
  font-family: 'Segoe UI';
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  min-height: 100vh;

  /*

  background-attachment: fixed;
  background: var(--bg-gradient);


  
  color: var(--text-color);
} 

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
**/

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding-top: 110px;
}

.app.fundoVermelho {
  background: radial-gradient(circle at center, #250000 10%, #7a0000 100%);
}

.app.fundoAzul {
  background: radial-gradient(circle at center, #2563eb 0%, #1e293b 40%, #020617 100%);
}

.app.fundoPurpura {
  background: radial-gradient(circle at center, #2c002c 10%, #800080 100%);
}

.app.fundoVerde {
  background: radial-gradient(circle at center, #002400 10%, #006400 100%);
}