.navbar {
  display: flex;
  justify-content: space-between; /* logo izquierda, links derecha */
  align-items: center;
  padding: 20px 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color:#fcf5f5;
  margin-left: 150px;
}

.logo:hover {
    color: #2563eb;
}
.links {
  margin-right: 120px;
}

.links a {
  margin-left: 30px;
  text-decoration: none;
  color:#fcf5f5;
  font-weight: 500;
  transition: color 0.2s;
}

.links a:hover {
  color: #2563eb;
}

nav {
    background-color: #201d1d;
}